html {
  width: 100%;
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  background: url(../../assets/bliss.webp) center/cover no-repeat fixed;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  /*    pointer-events: none; */
  /* Prevent images from being dragged */
}

pre {
  margin: 0 !important;
  /* height: 500px; */
  width: inherit;
}

.mdp-preview {
  height: 18px;
  margin: 0 5px;
  filter: drop-shadow(0 0 1px black);
}

.hidden {
  display: none;
}
