#window-main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    z-index: 1;
}

#markdown-container {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin: 0 5px 1px 5px;
}

#editor {
    padding: 2em;
    resize: none;
    flex: 1 0 0;
    background-color: black;
    color: silver;
    font-family: "Perfect DOS VGA 437 Win";
    font-size: 16px;
    margin: 0;
}


#preview {
    background-color: whitesmoke;
    padding: 0 2em;
    overflow-y: scroll;
    min-height: 0;
    flex: 1 0 0;
    box-shadow: inset 1px 1px 5px 0.25px black;
}

